.box {
  background-color: white;
  box-shadow: 0px 1px 2px 0px #d5d5d5;
  width: 60%;
  min-width: 600px;
  h1 {
    font-size: larger;
    padding: 3%;
    margin-left: 3%;
  }
  .userInfo {
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;

    img {
      width: 40%;
      max-width: 150px;
      border-radius: 50%;
    }
    .flexBox {
      display: flex;
      width: 100%;
      margin-left: 10%;
      div {
        margin-top: 1%;
      }
      .userText {
        margin-left: 5%;
      }
    }
  }
}
