.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
      padding: 1.5rem 3rem;
      width: 28.125rem;
      border-radius: 0.313rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ffffff;

      .banner {
        margin: 3%;

      }
      .loginSelect {
        .google {
          margin: 1%;
        }
        .naver {
          margin: 1%;
        }
        .kakao {
          margin: 1%;
        }
      }
    }
  }
  